

<div class="read">
    <input type="checkbox" id="input" class="read__input"></input>
    <label for="input" class="read__button">
      <div class="read__bar read__bar--1"></div>
      <div class="read__bar read__bar--2"></div>
      <div class="read__bar read__bar--3"></div>
    </label>

    <div class="read__background"></div>
    <div class="read__content">
            <h2>For Accurate Detection Please Follow The Given Instruction.</h2>
            <ul>
                <li>The leaf to be detected is centered</li>
                <li>The leaf not to be too far away or too close</li>
                <li>Try to capture high quality image for better detection</li>
                <li>Make Sure to the camera is foucsed on the leaf</li>
            </ul>
            <div class="read__content__ex read__content__ex--good">
                <i class="fa-regular fa-circle-check fa-4x"></i>
                <i class="fa-brands fa-envira fa-8x"></i>
            </div>
            <div class="read__content__ex read__content__ex--bad">
              <i class="fa-regular fa-circle-xmark fa-4x"></i>
              <i class="fa-brands fa-envira fa-4x"></i>
              <i class="fa-brands fa-envira fa-6x"></i>
              <i class="fa-brands fa-envira fa-8x"></i>
            </div>
            <div class="read__content__ex read__content__ex--bad">
              <i class="fa-regular fa-circle-xmark fa-4x"></i>
              <i class="fa-brands fa-envira fa-3x"></i>
            </div>
    </div>
  </div>

    {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

    <footer>
        <div class="footer">
            <p class="footer__p">
                Copyright &copy; {{ year }} <span class="footer__author">Abdelrahman Hammad</span>,
                <a class="footer__link" href="https://msa.edu.eg/msauniversity/">MSA</a>,
                All rights reserved.
            </p>
        </div>
    </footer>

<div id="preloader">
    <div class="load"></div>
    <i class="fa-solid fa-spider fa-2x"></i>
    <i class="fa-solid fa-mosquito fa-2x"></i>
    <i class="fa-solid fa-bug fa-2x"></i>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <script src='static/js/index.js'></script>
</body>
</html>