



    {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

    <footer>
        <div class="footer">
            <p class="footer__p">
                Copyright &copy; {{ year }} <span class="footer__author">Abdelrahman Hammad</span>,
                <a class="footer__link" href="https://msa.edu.eg/msauniversity/">MSA</a>,
                All rights reserved.
            </p>
        </div>
    </footer>

<div id="preloader">
    <div class="load"></div>
    <i class="fa-solid fa-spider fa-2x"></i>
    <i class="fa-solid fa-mosquito fa-2x"></i>
    <i class="fa-solid fa-bug fa-2x"></i>
</div>


<div class="history" {% if not auth %} style="display:none" {% endif %}>
  <div class="history__close">
    <input type="checkbox" id="close" class="history__close-checkbox">
    <label for="close" class="history__close-label"><i class="fa-solid fa-angle-up"></i></label>
  </div>
    <h3 class="heading-sec">Previous Detections</h3>
  <div class="user__detections">

      {% for src in history %}
        <div class="wrapper">

            <img src="{{ src }}" alt="History image" class="user__detections-image">
            <a href="{{ url_for('result') }}"><i class="fa-solid fa-link link-icon"></i>ad</a>
        </div>
      {% endfor %}

  </div>
  <div class="user__box">
    <img src="https://scontent.fcai19-4.fna.fbcdn.net/v/t1.18169-9/18423735_1319858474750525_6894289703936023221_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=174925&_nc_ohc=yyH3Y6c-KncAX9OAw2t&_nc_ht=scontent.fcai19-4.fna&oh=00_AfDKD3mFUx-E1BiEEhvHCmqpv9UZvfoxKGiWIZQ44k9DSg&oe=63F0F777" alt="User Photo" class="user__box-image">
    <p class="user__box-name">{{ name }}</p>
  </div>
</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <script src='static/js/index.js'></script>
</body>
</html>