<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap" rel="stylesheet">
    <!-- CSS only -->
    <script src="https://kit.fontawesome.com/3a1c20dcea.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/read.css">
    <link rel="stylesheet" href="static/css/animations.css">
    <link rel="stylesheet" href="static/css/history.css">

    <title>ABDO-DETECTOR</title>
</head>
<body>

<nav class="navigation">
    <ul class="navigation__list">
        <li class="navigation__item"><a href="{{ url_for('home') }}" class="navigation__link">Home</a></li>
        {% if not auth %}
            <li class="navigation__item"><a href="{{ url_for('login') }}" class="navigation__link">Log in</a></li>
            <li class="navigation__item"><a href="{{ url_for('register') }}" class="navigation__link">Register</a></li>
            <li class="navigation__item" style="display: none;"><a href="#" class="navigation__link navigation__link-history">History</a></li>
        {% endif %}
        {% if auth %}
            <li class="navigation__item"><a href="{{ url_for('logout') }}" class="navigation__link logout">Logout</a></li>
            <li class="navigation__item navigation__link-history"><a href="#" class="navigation__link navigation__link-history">History</a></li>
        {% endif %}
        <li class="navigation__item" id="read-me"><a href="{{ url_for('read') }}" class="navigation__link">Instructions</a></li>
    </ul>
</nav>