@media (max-height: 880px) {

    .top {
        margin-top: 50px;
    }

    .res {
        margin-top: 35px;
    }

}

@media (max-height: 840px) {

    .img-box {
        height: 350px;
    }

}

@media (max-height: 810px) {

    .img-box {
        height: 325px;
        margin-top: 15px;
    }

    .res {
        margin-top: 35px;
    }

}

@media (max-height: 780px) {

    .img-box {
        height: 300px;
        margin-top: 5px;
    }

    .res {
        margin-top: 10px;
    }

    .top {
        margin-top: 20px;
    }

}

@media (max-width: 1200px) {

    .read__input:checked ~ .read__background {
      transform: scale(40);
    }
}


@media (max-width: 750px) {

    .read__background {
        top: 5px;
        right: 5px;
    }
    .read__button {
        top: 5px;
        right: 5px;
    }
    .read__content__ex {
        max-width: 50%;
        font-size: 70%;
    }
    .read__content__ex--bad {
        left: 55%;
    }
    .read__content__ex--bad:last-child {
        left: 105%;
    }
    .read__input:checked ~ .read__background {
      transform: scale(30);
    }
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #eee;
  display: grid;
  place-items: center;
  visibility: visible;
}

#preloader.display {
  visibility: hidden;
}

#preloader > * {
  position: absolute;
}
#preloader .load {
  border-radius: 50%;
  width: 70px;
  aspect-ratio: 1;
  border: 5px solid #c8c8c8;
  border-top-color: #eee;
  position: relative;

  animation: rotate 1s linear infinite;
}
#preloader i {
  transform: scale(0) translate3d(0, 0, 0);
  color: #595959;
  opacity: 0.8;
}
#preloader i:nth-of-type(1) {
  animation: scale 3s ease-in-out infinite;
}
#preloader i:nth-of-type(2) {
  animation: scale 3s 1s ease-in-out infinite;
}
#preloader i:nth-of-type(3) {
  animation: scale 3s 2s ease-in-out infinite;
}

@keyframes scale {
  0% {
    transform: scale(0) translate3d(0, 0, 0);
  }
  11% {
    transform: scale(1.2) translate3d(0, 0, 0);
  }
  22% {
    transform: scale(1) translate3d(0, 0, 0);
  }
  33% {
    transform: scale(0) translate3d(0, 0, 0);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

::selection {
    background: #ffb86c;
    color: #fff;
}