.read {
    height: 0px;
    width: 0;
}

.read > * {
  width: 50%;
}
.read__input {
  visibility: hidden;
}
.read__button {
  position: fixed;
  width: 60px;
  aspect-ratio: 1;
  background-color: #ffedbf;
  border-radius: 50%;
  top: 30px;
  right: 30px;
  z-index: 1000;
  cursor: pointer;
}
.read__bar {
  width: 50%;
  height: 2px;
  background: #333;
  position: absolute;
  left: 25%;
  transition: all 0.1s;
}
.read__bar--1 {
  top: 35%;
}
.read__bar--2 {
  top: 50%;
}
.read__bar--3 {
  top: 65%;
}
.read__button:hover .read__bar--1 {
  top: 33%;
}
.read__button:hover .read__bar--3 {
  top: 67%;
}
.read__input:checked + .read__button .read__bar--1 {
  transform: rotate(45deg);
  top: 50%;
}
.read__input:checked + .read__button .read__bar--3 {
  transform: rotate(135deg);
  top: 50%;
}
.read__input:checked + .read__button .read__bar--2 {
  opacity: 0;
}
.read__background {
  position: fixed;
  width: 60px;
  aspect-ratio: 1;
  background-image: radial-gradient(#ccc6b4, #fff8e1);
  border-radius: 50%;
  top: 30px;
  right: 30px;
  z-index: 975;
  transition: all 0.7s cubic-bezier(0.86, 0, 0.07, 1);
}



.read__input:checked ~ .read__background {
  transform: scale(70);
}
.read__content {
  position: absolute;
  top: 5%;
  left: 10%;
  opacity: 0;
  z-index: 975;
  visibility: hidden;
  color: #000;
  text-align: left;
  transition: opacity 0.7s .5s;
}

.read__input:checked ~ .read__content {
  opacity: 1;
  visibility: visible;
}
.read__content__ex {
  display: inline-block;
  margin-top: 100px;
  position: absolute;
  width: 150px;
  height: 250px;
  border: 5px solid #00a600;
  border-radius: 25px;
  border-style: dashed;
}
.read__content__ex--good {
  left: 5%;
}
.read__content__ex--good i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.read__content__ex--good .fa-4x {
  top: -5%;
  left: 50%;
  background-color: #00a600;
  border-radius: 50%;
}
.read__content__ex--bad {
  border-color: #cc0000;
  left: 45%;
}
.read__content__ex--bad i {
  position: absolute;
}
.read__content__ex--bad .fa-4x {
  top: 70%;
  left: 50%;
}
.read__content__ex--bad .fa-6x {
  top: 35%;
  left: 5%;
}
.read__content__ex--bad .fa-8x {
  top: 5%;
  left: 25%;
}
.read__content__ex--bad .fa-regular {
  top: -5%;
  left: 50%;
  background-color: #cc0000;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.read__content__ex--bad:last-child {
  left: 85%;
}
.read__content__ex--bad:last-child .fa-3x {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.read__content__ex--bad:last-child .fa-regular {
  top: -5%;
  left: 50%;
  background-color: #cc0000;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
