
.read {
    animation: slide .7s ease;
}
.read-points > * {
    text-align: left;
}

.read-points {
    padding: 20px;
    margin: 100px auto 0;
    max-width: 1000px;
}

.read-ex {

    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 80px;
}

@media (max-width: 56.25em) {
    .read-ex {

        gap: 30px;
    }

}

@media (max-width: 37.5em) {
    .read-ex {

        gap: 0px;
    }

}

.read__content__ex {

  width: 150px;
  height: 250px;
  border: 5px solid #00a600;
  border-radius: 25px;
  border-style: dashed;
  position: relative;
}
.read__content__ex--good i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.read__content__ex--good .fa-4x {
  top: -5%;
  left: 50%;
  background-color: #00a600;
  border-radius: 50%;
}
.read__content__ex--bad {
  border-color: #cc0000;
}
.read__content__ex--bad i {
  position: absolute;
}
.read__content__ex--bad .fa-4x {
  top: 70%;
  left: 50%;
}
.read__content__ex--bad .fa-6x {
  top: 35%;
  left: 5%;
}
.read__content__ex--bad .fa-8x {
  top: 5%;
  left: 25%;
}
.read__content__ex--bad .fa-regular {
  top: -5%;
  left: 50%;
  background-color: #cc0000;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.read__content__ex--bad:last-child .fa-3x {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.read__content__ex--bad:last-child .fa-regular {
  top: -5%;
  left: 50%;
  background-color: #cc0000;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
