.login_page {
    height: 65%;

}

.login_form {
    display: flex;
    flex-direction: column;
    height: auto;
    flex: 1;
    padding: 0 15%;
}

.login_form > * {
      font-size: 17px;
}

.login_form-input {
  padding: 10px 20px 3px 5px;
  outline: none;
  border: none;
  border-bottom: 2px solid rgba(104, 88, 67, .1);
  margin-bottom: 20px;
  background-color: var(--form-color);
  transition: all .2s ease;
  color: #685843;
  font-size: 17px;
}

.login_form-input:focus {
    border-bottom: 2px solid rgba(104, 88, 67, .3);
}
::placeholder {

    color: rgba(103, 103, 103,0.2);
}

.login_form-label {
    align-self: flex-start;
    color: #9a8364;
    cursor: pointer;
}


.login_form-btn {

    padding: 10px 35%;
    border-radius: 50px;
    background-color: #e9ceab;
    outline: none;
    border: none;
    margin-bottom: auto;
    align-self: center;
    margin-top: 20px;
    cursor: pointer;
    transition: all .2s;
    box-shadow: 0 10px 40px rgba(103, 103, 103,0.3);
    color: #9a8364;
    font-size: 15px;
    font-weight: 100;
}