body {
    background-size: cover;

    background-image: url('https://img.freepik.com/free-vector/stylish-hexagonal-line-pattern-background_1017-19742.jpg?w=2000');
    background-image:
    linear-gradient(to right bottom, rgba(251, 249, 239, 0.7), rgba(199, 198, 190, 0.7)),
    url('https://img.freepik.com/free-vector/stylish-hexagonal-line-pattern-background_1017-19742.jpg?w=2000');
    text-align: center;
    display: flex;
    flex-direction: column;
    max-height: 90vh;
    font-family: 'Montserrat', sans-serif;

}

form {
    margin: 10px;
    height: 0;
}

input[type=file] {
    background-color: rgb(103, 103, 103);
}

.icon {
    margin: 25px;
}

p {
    color:rgb(103, 103, 103);
}
.img-box {
    display: flex;
    justify-content: center;
    width: 350px;
    height: 380px;
    margin: 40px auto 0;
    border-style: dashed;
    border-radius: 25px;
}

.top {
    margin-top: 100px;
}

.res-box {
    display: flex;
    justify-content: center;
    margin: 5 auto;
    border-style: dashed;
    border-radius: 25px;
    height: 450px;
}

.captured-image {
    margin: auto;
    border-radius: inherit;
    width: 95%;
    height: 90%;
}

.body-res {
    margin: 20px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#submit-btn {
    margin-top: 10px;
}

.res {
    padding: 0 12px;
    height: 100%;
    max-width: 800px;
    margin: 50px auto 5px;
}

.result-image {
    margin: auto;
    border-radius: inherit;
    width: 95%;
    height: 90%;
}
.table  {
    font-size: 25px;
    font-weight: 400;
}

.table > * {

    padding: 10px;
}


a {
    text-decoration: none;
}

thead > tr > th:not(:first-child) {
    text-align: center;
}

td:last-child {
    text-align: center;
}




.flashes {

    margin-top: 60px;
    color: red;
    font-weight: 700;
    list-style: none;
}

footer {

    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer {

    margin: 15px 0;
}

.footer__p {
    margin: 0;
    text-align: center;
    display: inline-block;
    width: 100%;

}

.footer__link {

    text-decoration: none;
    color: #655e4b;
}

.footer__author {
    font-weight: 700;
}

/* Navigation */

.navigation {
  background: transparent;
  margin: 0;
  position: fixed;
  top: 30px;
  left: 30px;
  color: #212529;
}
.navigation__list {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
.navigation__item {
  padding: 10px;
  position: relative;
  margin-left: 10px;
  border-radius: 5px;
}
.navigation__item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5%;
  bottom: 0;
  left: 0;
  background-color: #212529;
  transform: scaleX(0);
  transition: all 0.2s ease;
}
.navigation__item:hover::before {
  transform: scaleX(0.8);
}
.navigation__link:link,
.navigation__link:visited {
  text-decoration: none;
  color: inherit;
}

.active {
    color: #eee;
    background-color: #212529;

}