:root {
    --hover-back-color: #5a4d3c;
    --hover-color: #eee;
    --primary-color: #5a4d3c;
}


body {
    background-size: cover;
    background-image:
    linear-gradient(to right bottom, rgba(224, 218, 203, .8), rgba(153, 130, 99, .7)),
    url('https://img.freepik.com/free-vector/stylish-hexagonal-line-pattern-background_1017-19742.jpg?w=2000');
    text-align: center;
    display: flex;
    flex-direction: column;
    max-height: 90vh;
    font-family: 'Montserrat', sans-serif;
    color: var(--primary-color);
}

form {
    margin: 10px;
    height: 0;
}

.img-box {
    display: flex;
    justify-content: center;
    width: 350px;
    height: 380px;
    margin: 40px auto 0;
    border-style: dashed;
    border-radius: 25px;
}

.top {
    margin-top: 100px;
}

.res-box {
    display: flex;
    justify-content: center;
    margin: 5 auto;
    border-style: dashed;
    border-radius: 25px;
    height: 450px;
}

.captured-image {
    margin: auto;
    border-radius: inherit;
    width: 95%;
    height: 90%;
}

.body-res {
    margin: 20px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#submit-btn {
    margin-top: 10px;
}

.res {
    padding: 0 12px;
    height: 100%;
    max-width: 800px;
    margin: 50px auto 5px;
}

.result-image {
    margin: auto;
    border-radius: inherit;
    width: 95%;
    height: 90%;
}
.table  {
    font-size: 25px;
    font-weight: 400;
}

.table > * {

    padding: 10px;
}


a {
    text-decoration: none;
}

thead > tr > th:not(:first-child) {
    text-align: center;
}

td:last-child {
    text-align: center;
}




.flashes {

    margin-top: 60px;
    color: red;
    font-weight: 700;
    list-style: none;
}

footer {

    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer {

    margin: 15px 0;
}

.footer__p {
    margin: 0;
    text-align: center;
    display: inline-block;
    width: 100%;

}

.footer__link {

    text-decoration: none;
    color: #655e4b;
}

.footer__author {
    font-weight: 700;
}

/* Navigation */

.navigation {
  background: transparent;
  margin: 0;
  position: fixed;
  top: 30px;
  left: 30px;
  color: #212529;
  width: 100%;
}
.navigation__list {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
.navigation__item {
  position: relative;
  margin-left: 10px;
  border-radius: 10px;
  transition: all .2s ease;
  cursor: pointer;
  display: flex;
  justify-items: center;
  align-items: center;
}


.navigation__item:hover,
.navigation__item:focus {

    color: #eee;
    background-color: #8d7a5e;
}
.navigation__item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5%;
  bottom: 0;
  left: 0;
  background-color: #212529;
  transform: scaleX(0);
  transition: all 0.2s ease;
}

.navigation__link:link,
.navigation__link:visited {
  text-decoration: none;
  color: inherit;
  padding: 10px;
}

.btn {
    background-color: transparent;
    color: #5a4d3c;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #5a4d3c;
    transition: all .2s;
}
.btn:hover,
.btn:focus {
    color: #eee;
    background-color: #8d7a5e;
    border-color: #8d7a5e;
}

.go-btn {
    padding: 5px 20px;
}
.active {
    color: #eee;
    background-color: #8d7a5e;
}

/* LOGIN */



/* .login_box {

  padding-bottom: 200px;
  text-align: center;
  flex: 0 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #bfb08e;
}
.login_form {


}
.login_form > * {
  margin-bottom: 20px;
  width: 60%;
}
.login_form-input {
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid #9d9c98;
  background-color: #b6b6b1;
}
.login_form-btn {
  border: 1px solid #9d9c98;
  background-color: #b6b6b1;

  border-radius: 10px;
  background: #333;
  padding: 10px 20px;
  color: #eee;
} */